*{
    margin: 0px;
    padding: 0px;
}

body{
    color: rgb(181, 246, 181); /*cor da fonte - letra */
    background-color: rgb(1, 30, 12); /* cor do fundo */
    font-family: "IBM Plex Sans", sans-serif;
    margin: 0px;
}

header{ 
    font-family: cursive;
    border-bottom: solid 2px rgb(7, 197, 71);
    padding: 20px; 
    color: whitesmoke ;
    font-size: 32px;
}

h1{
    color: rgb(236, 244, 200);
    font-family: sans-serif;
}

p{
    color: purple;
}

section{
    background-color: rgb(87, 190, 87);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex; /* divs uma ao lado da outra */
    justify-content: center; /*centraliza o conteudo da div*/
}

.chamada-texto{
    margin-right: 5%;
}

.fundo-vermelho{
    background-color: red;
}

.fundo-azul{
    background-color: blue;
}
img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}